{{! Optimium - BLOG HEADER PARTIAL at Page }}

<header id="head_page_Optimium">
    <div id="page_shade"></div>
    <div id="head_content_Optimium" class="boxed-cargo">

        {{#if @blog.logo}}
        <a href="{{@blog.url}}"><img id="logo" src="{{@blog.logo}}" alt="{{@blog.title}} Logo" style="position:absolute" /></a>
		{{else}}
        <h1 id="blog_title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
		{{/if}}

        {{> menu_page}}

    </div>
</div>
</header>