{{!< default}}

{{> header_page}}

{{! The main content area on author page }}

    <div id="content_column_Optimium" class="boxed-cargo Optimium_author">
		<center>
        <article class="author_head">
            {{#author}}
                <img src="{{image}}" alt="{{name}}" class="img-square-frame-circle">
                <h1>{{name}}</h1>
                <a class="website" href="{{website}}"><span class="fa fa-link"></span> {{website}}</a> <br>
                <p>{{bio}}</p> <br>
                <span class="fa fa-file"> {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</span> 
                <a class="fa fa-rss" href="{{url}}rss/"> follow</a>
            {{/author}}
        </article>

        {{! Featured posts come first }}
	{{! Cycle through and list featured posts }}
	{{! Only display if not blocked by exclusion tags }}
	{{#foreach posts}}{{#if featured}}{{^has tag="hidden, no-author, tag-only, home-only, index-only, private"}}
				
		
		{{>listing}}
			
			{{/has}}{{/if}}{{/foreach}} {{! For validation}}
			
			
			
	{{! Cycle through and list non-featured posts }}
	{{! Only display if not blocked by exclusion tags }}
	{{#foreach posts}}{{^if featured}}{{^has tag="hidden, no-author, tag-only, home-only, index-only, private"}}
				
		
		{{>listing}}
			
			{{/has}}{{/if}}{{/foreach}} {{! For validation}}

        


    </div>
	{{pagination}}