{{!< default}}

{{> header_page}}

{{! The main content area on author page }}

    <div id="content_column_Optimium" class="Optimium_index boxed-cargo Optimium_author">
		<center>
            {{#author}}
        <article class="author_head" style="background-image: url({{cover}});background-size: cover; background-color: #545454;">
            
            <div class="author_info" style="{{^if cover}} width:100%;{{/if}}">
                
               {{#if image}}
                <img src="{{image}}" alt="{{name}}">
                {{else}}
                <img src="{{asset "img/unknown.png"}}" alt="{{name}}">
                {{/if}}
                <h1>{{name}}</h1>
                {{#if website}}
                <a class="website" href="{{website}}"><span class="fa fa-link"></span> {{website}}</a>
                {{/if}}
                <p>{{bio}}</p>
                <a class="fa fa-rss" href="{{url}}rss/" style="display: block"> Follow</a>
            </div>
        </article>
            {{/author}}

        {{! Featured posts come first }}
	{{! Cycle through and list featured posts }}
	{{! Only display if not blocked by exclusion tags }}
	{{#foreach posts}}{{#if featured}}{{^has tag="hidden, no-author, tag-only, home-only, index-only, private"}}
				
		
		{{>listing}}
			
			{{/has}}{{/if}}{{/foreach}} {{! For validation}}
			
			
			
	{{! Cycle through and list non-featured posts }}
	{{! Only display if not blocked by exclusion tags }}
	{{#foreach posts}}{{^if featured}}{{^has tag="hidden, no-author, tag-only, home-only, index-only, private"}}
				
		
		{{>listing}}
			
			{{/has}}{{/if}}{{/foreach}} {{! For validation}}

        


    </div>
	{{pagination}}