{{!< default}}{{> header_page}}
	<main id="content_Optimium" role="main">
		<a name="start"></a>
		<div id="content_column_Optimium" class="boxed-cargo">
			<center>
			{{!-- Featured posts --}}
			{{#foreach posts}}{{#if featured}}
			{{^has tag="hidden,home-only"}}
			{{#has tag="link"}}
			{{!-- This is a link --}}
			<article class="index_post {{post_class}}">
				<div class="corner-ribbon top-right blue">Featured</div>
				<div class="left_side_article">
					<div class="stamp"><span class="fa fa-clock-o"></span>
						<time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
						<br><span>{{tags prefix=""}}</span>
					</div>
				</div>
				
				<div class="image_container">
					<img src="{{image}}" alt="Post Image" class="post_image"></div>
					
				<div class="right_side_article">
					<header class="post_header">
						<h2 class="post_title"><a href="{{excerpt}}">{{{title}}}</a></h2> {{#author}}
						<h5 style="margin-top: 10px;">By <a href="{{url}}">{{name}}</a></h5> {{/author}} </header>
					<p class="post_excerpt">{{excerpt characters="140"}}</p> <a href="{{excerpt}}" class="read_more_btn">Go There</a> </div>
			</article>
			
			{{else}}
			{{#has tag="custom"}}
		{{content}}
		{{else}}
			<article class="index_post {{post_class}}">
				<div class="corner-ribbon top-right blue">Featured</div>
				
				<div class="left_side_article">
					<div class="stamp"><span class="fa fa-clock-o"></span>
						<time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
						<br><span>{{tags prefix=""}}</span>
					</div>
				</div>
				<div class="image_container">
					<img src="{{image}}" alt="Post Image" class="post_image"></div>
				<div class="right_side_article">
					<header class="post_header">
						<h2 class="post_title"><a href="{{url}}">{{{title}}}</a></h2> {{#author}}
						<h5 style="margin-top: 10px;">By <a href="{{url}}">{{name}}</a></h5> {{/author}} </header>
					<p class="post_excerpt">{{excerpt characters="140"}}&hellip;</p> <a href="{{url}}" class="read_more_btn">Read More</a> </div>
			</article>
			{{/has}}
			{{/has}}
			{{/has}}
			{{/if}}{{/foreach}}
			
			{{!-- Non-Featured posts --}}
			{{#foreach posts}}{{#unless featured}}
			{{^has tag="hidden,home-only"}}
    {{#has tag="link"}}
       {{!-- This is a link --}}
	   <article class="index_post {{post_class}}">
				<div class="left_side_article"> <span class="fa fa-clock-o"></span>
					<time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
					<br><span>{{tags prefix=""}}</span> </div>
					
				<div class="image_container">
					<img src="{{image}}" alt="Post Image" class="post_image"></div>
				<div class="right_side_article">
					<header class="post_header">
						<h2 class="post_title"><a href="{{excerpt}}">{{{title}}}</a></h2> {{#author}}
						<h5 style="margin-top: 10px;">By <a href="{{url}}">{{name}}</a></h5> {{/author}} </header>
					<p class="post_excerpt">{{excerpt characters="140"}}</p> <a href="{{excerpt}}" class="read_more_btn">Go There</a> </div>
			</article>
	   
    {{else}}
        {{#has tag="custom"}}
		{{content}}
		{{else}}
		<article class="index_post {{post_class}}">
			
				<div class="left_side_article"> <span class="fa fa-clock-o"></span>
					<time datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMM YYYY"}}</time>
					<br><span>{{tags prefix=""}}</span> </div>
					<div class="image_container">
					<img src="{{image}}" alt="Post Image" class="post_image">
			</div>
				<div class="right_side_article">
					<header class="post_header">
						<h2 class="post_title"><a href="{{url}}">{{{title}}}</a></h2> {{#author}}
						<h5 style="margin-top: 10px;">By <a href="{{url}}">{{name}}</a></h5> {{/author}} </header>
					<p class="post_excerpt">{{excerpt characters="140"}}&hellip;</p> <a href="{{url}}" class="read_more_btn">Read More</a> </div>
			</article>
		
    {{/has}}
    {{/has}}
    {{/has}}
			
			
			{{/unless}}{{/foreach}}
			 </div>
	</main>{{pagination}}