{{!< default}}{{> header_page}}{{! The main content area on the page}}<div id="content_column_Optimium" class="boxed-cargo"><center>{{#post}}
	{{#has tag="type-custom"}}
{{content}}
{{else}}
	<article class="{{post_class}} full_post"> <header class="reading_post_header"> <h1 class="post_title">{{{title}}}</h1> </header><hr>{{content}}</article>
	{{/has}}{{/post}}</div>