{{!< default}}{{> header_page}}{{! The main content area on the post}}
	<main id="content_Optimium" role="main">
		<div id="content_column_Optimium" class="boxed-cargo">
			<center>{{#post}}
			<article class="{{post_class}} full_post">
				<header class="reading_post_header">
					<h1 class="post_title">{{{title}}}</h1>
				</header>
				<hr>
				<img src="{{image}}" width="100%" />{{content}}
				<footer id="post_footer_Optimium">
					<section id="share_post_Optimium">
						<h4>Share this post</h4>
						<a class="fa fa-twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute=" true "}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"></a>
						<a class="fa fa-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute=" true "}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"></a>
						<a class="fa fa-google-plus" href="https://plus.google.com/share?url={{url absolute=" true "}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"></a>
					</section>
					<section id="author_Optimium">{{#author}}<img src="{{image}}" alt="{{name}}">
						<h4><a href="{{url}}">{{name}}</a></h4>{{#if website}}<a href="{{website}}">{{website}}</a>{{/if}}
						<p>{{bio}}</p>{{/author}}</section>
					<section id="comments_Optimium">
{{ghost_foot}}</section>
				</footer>
			</article>{{/post}}</div>
	</main>