{{#post}}
{{! Import Default Template}}
{{!< default}}
{{! Header for pages}}
{{> header_page}}

	<main id="content_Optimium" role="main">
		<div id="content_column_Optimium" class="boxed-cargo">
			<center>
				
			{{! Actual Post}}
			<article class="{{post_class}} full_post">
				<header class="reading_post_header">
					<h1 class="post_title">{{{title}}}</h1>
				</header>
				<hr>
				{{! Post Image}}
				<img src="{{image}}" width="100%" />
				
				<div id="ad" style="text-align:center;width:100%;overflow:hidden;"> <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-9770282066229680" data-ad-slot="2269715452" data-ad-format="auto"></ins><script>(adsbygoogle=window.adsbygoogle || []).push({});</script></div>
				{{! Body}}
				{{content}}
			</article>
			
			{{! Author area}}
			<article class="post full_post" id="author_Optimium">
				{{#author}}
					<img src="{{image}}" alt="{{name}}">
					<h4><a href="{{url}}">{{name}}</a></h4>
					{{#if website}}
						<a href="{{website}}">{{website}}</a>
					{{/if}}
					<p>{{bio}}</p>
				{{/author}}
			</article>
						
			{{! Share Buttons (Twitter, Facebook and Google+)}}
			<section id="share_post_Optimium">
				<a class="fa fa-twitter" href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute=" true "}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"></a>
				<a class="fa fa-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute=" true "}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"></a>
				<a class="fa fa-google-plus" href="https://plus.google.com/share?url={{url absolute=" true "}}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"></a>
			</section>
					
			{{! Comment section, custom codes need to be inserted into ghost_foot in the settings.}}
			<article class="post full_post" id="comments_Optimium">
			{{ghost_foot}}
			</article>
			
			</div>
	</main>
{{/post}}